<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>ALL4ONE</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/animate.min.css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/css/flaticon.css" />
  <link rel="stylesheet" href="/assets/css/odometer.css" />
  <link rel="stylesheet" href="/assets/css/aos.css" />
  <link rel="stylesheet" href="/assets/css/slick.css" />
  <link rel="stylesheet" href="/assets/css/default.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/responsive.css" />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/sweetalert2@8/dist/sweetalert2.min.css"
  />

  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css"
    rel="stylesheet"
  />
  <script src="js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <style>
    input{
      color:black!important
    }
  </style>
</head>
