<!DOCTYPE html>
<html class="no-js" lang="zxx">
<%- include('../partials/head'); %>
    <style>
        .auth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center
        }

        .x-row {
            gap: 20px;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        h2 {
            font-size: 1.7rem !important;
        }
    </style>

    <body>
        <!-- preloader-start -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div>
        <main class="container">
            <!-- contact-area -->
            <div class="x-row container col-md-12">
                <img style="width:250px; height:100px" src="/assets/img/images/horizonatal.png" />
                <h2>Welcome to All4One Admin Panel</h2>
            </div>
            <div style="margin-bottom: 120px;" class="contact-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form-wrap">
                                <form id="getInTouchForm">
                                    <div class="auth col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-grp">
                                                <input id="auth-email" type="email" name="name"
                                                    placeholder="Enter full name" />
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-grp">
                                                <input id="auth-password" type="password" name="password"
                                                    placeholder="Enter your password" />
                                                <i class="fal fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" onclick="submitPostRequest(event)"
                                        class="btn">submit</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact-area-end -->

            <!-- contact-area -->
            <div class="contact-info-area pb-90 pt-35">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-9">
                            <div class="contact-info-box mb-30">
                                <div class="contact-info-box-head">
                                    <h3 class="text-left">Essex Branch Office</h3>
                                    <span>You are always welcome to visit us at the office.</span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <form id="adminForm" action="/admin" method="GET">
                <input type="hidden" name="_t" value="">
            </form>
        </main>
        <%- include('../partials/scripts'); %>
            <script>
                function submitPostRequest(event) {
                    event?.preventDefault()
                    let data = {};
                    data.email = document.querySelector('#auth-email').value
                    data.password = document.querySelector('#auth-password').value
                    const url = '/api/v1/admin-login'
                    fetch(url, {
                        method: "POST",
                        body: JSON.stringify(data),
                        headers: { "Content-Type": "application/json" }
                    })
                        .then(response => response.json())
                        .then(responseData => {
                            localStorage.setItem("_t", responseData.context.token)
                            console.log("Success:", responseData);

                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });

                        

                    const token = localStorage.getItem('_t');
                    const adminForm = document.getElementById('adminForm');
                    adminForm.elements._t.value = btoa(token);
                    adminForm.submit();

                }
            </script>
    </body>

</html>